<?php

$vendorDir = __DIR__.'/../vendor';

//composer autoload file
if (file_exists($vendorDir.'/autoload.php')) {
    require_once $vendorDir.'/autoload.php';

    return;
}

require_once $vendorDir.'/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Doctrine\ORM'      => $vendorDir.'/doctrine/orm/lib/Doctrine/ORM',
    'Doctrine'          => $vendorDir.'/doctrine/lib',
));
$loader->register();
